<html>
<head>
<link href="http://watcha.net/favicon.ico?v=2" rel="shortcut icon"
	type="image/vnd.microsoft.icon" />
<title>왓챠 :: 오늘 영화도 부탁해!</title>

<link
	href="css/home.css" media="screen" rel="stylesheet" type="text/css" />
<script
	src="js/main.js"
	type="text/javascript"></script>
<meta content="authenticity_token" name="csrf-param" />
<meta content="jCI8NpYGRmu8fKRBCeGT9pPiSZzPf6iX94kUOENuebY="
	name="csrf-token" />



</head>

<body class="home apple-gothic mac on-the-cover"
	data-twttr-rendered="true">
	<div id="fb-root" class=" fb_reset">
		<div
			style="position: absolute; top: -10000px; height: 0px; width: 0px;">
			<div>
				<iframe name="fb_xdm_frame_https" frameborder="0"
					allowtransparency="true" allowfullscreen="true" scrolling="no"
					id="fb_xdm_frame_https" aria-hidden="true"
					title="Facebook Cross Domain Communication Frame" tabindex="-1"
					src="https://s-static.ak.facebook.com/connect/xd_arbiter.php?version=41#channel=f1567c8398&amp;origin=https%3A%2F%2Fwatcha.net"
					style="border: none;"></iframe>
			</div>
		</div>
		<div
			style="position: absolute; top: -10000px; height: 0px; width: 0px;">
			<div></div>
		</div>
	</div>
	<div id="header" class="">
		<div class="for-popup-scroll-area-margin">
			<div class="inner responsive-mask">
				<ul class="gnb clearfix">
					<li class="navi-item home on"><a href="/"> <img
							src="https://d12hfz37g51hrt.cloudfront.net/assets/bi/icon_40-2d77bc98e90946d8ddaddc60d3fbb96b.png"
							width="30" height="30" />
					</a> <span class="highlight"></span></li>
					<li class="navi-item recomendation"><a
						href="/list?type=recommend">추천영화</a> <span class="highlight"></span></li>
					<li class="navi-item interest"><a href="/list?type=interest">관심영화함</a> <span
						class="highlight"></span></li>
					<li class="navi-item qna"><a href="/qna">Q&amp;A</a> <span
						class="highlight"></span></li>
				</ul>

				<form accept-charset="UTF-8" action="/search" id="search-form"
					method="get">
					<div class="input-wrapper">
						<input id="input-query" name="query" type="search"
							autocomplete="off" class="ui-autocomplete-input" /> <span
							id="search-icon"></span>
					</div>
				</form>

				<div id="gnb-right-menu" class="right-menu">

					<div class="menu my">
						<a href="/users/J3lPtM2HnnJs" class="name"> 최수진 <img
							class="thumbnail" src="img/profile.jpg" width="30" height="30"
							onerror="utils.loadDefaultImg(this, 'thumb');" />
						</a> <span class="highlight"></span>
						<div class="dropdown">
							<ul>
								<li><a href="/users/J3lPtM2HnnJs/wishlist">영화보관함</a> <span
									class="count">75</span></li>
								<li class="divide-line"><a href="#" class="setting">설정</a>
								</li>
								<li><a href="/logout">로그아웃</a></li>
							</ul>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div id="contents" style="min-height: 757px; position: relative;">

		<div class="recommend-wrapper" style="margin-top: 10px;">
			<ol class="sections-wrapper">
				<li id="boxoffice-section" class="boxoffice responsive-mask section"><h3
						class="title">오늘의 BOX OFFICE</h3>
					<div class="slider-wrapper">
						<div class="vertical-list">
							<ul class="grid-container"
								style="position: relative; width: 1920px; height: 670px;">
								<div class="ranking card grid-1 hei-1 top-0 left-0" style="height:650px;">
									<h4 class="head">영화 랭킹</h4>
									<div class="inner">
										<ol class="list">



											<li class="item rank1" style=""><a
												href="/mv/mad-max-fury-road-2013/mpgxes"
												data-movie-id="mpgxes"
												data-movie-title-url="mad-max-fury-road-2013"> <span
													class="number">1</span>매드 맥스: 분노의 도로
											</a></li>



											<li class="item rank2" style=""><a
												href="/mv/susan-cooper-2015/mg6l24" data-movie-id="mg6l24"
												data-movie-title-url="susan-cooper-2015"> <span
													class="number">2</span>스파이
											</a></li>



											<li class="item rank3" style=""><a
												href="/mv/gansin-gaje-2014/mptg5z" data-movie-id="mptg5z"
												data-movie-title-url="gansin-gaje-2014"> <span
													class="number">3</span>간신
											</a></li>



											<li class="item " style=""><a
												href="/mv/almost-home-2014/m1jx84" data-movie-id="m1jx84"
												data-movie-title-url="almost-home-2014"> <span
													class="number">4</span>홈
											</a></li>



											<li class="item " style=""><a
												href="/mv/agyi-yeondaegi/m63qmm" data-movie-id="m63qmm"
												data-movie-title-url="agyi-yeondaegi"> <span
													class="number">5</span>악의 연대기
											</a></li>



											<li class="item " style=""><a
												href="/mv/the-avengers-2-2015/mrz65z" data-movie-id="mrz65z"
												data-movie-title-url="the-avengers-2-2015"> <span
													class="number">6</span>어벤져스: 에이지 오브 울트론
											</a></li>



											<li class="item " style=""><a
												href="/mv/muroehan-2008/mdmz6i" data-movie-id="mdmz6i"
												data-movie-title-url="muroehan-2008"> <span
													class="number">7</span>무뢰한
											</a></li>



											<li class="item " style=""><a
												href="/mv/1952-2014/mw028f" data-movie-id="mw028f"
												data-movie-title-url="1952-2014"> <span class="number">8</span>투모로우랜드
											</a></li>



											<li class="item "><a
												href="/mv/while-were-young-2015/mwnqrf"
												data-movie-id="mwnqrf"
												data-movie-title-url="while-were-young-2015"> <span
													class="number">9</span>위아영
											</a></li>



											<li class="item "><a
												href="/mv/still-alice-2015/mdllt0" data-movie-id="mdllt0"
												data-movie-title-url="still-alice-2015"> <span
													class="number">10</span>스틸 앨리스
											</a></li>



											<li class="item "><a
												href="/mv/the-trip-to-italy-2014/mqrf5o"
												data-movie-id="mqrf5o"
												data-movie-title-url="the-trip-to-italy-2014"> <span
													class="number">11</span>트립 투 이탈리아
											</a></li>



											<li class="item "><a
												href="/mv/dino-time-2012/mf1x62" data-movie-id="mf1x62"
												data-movie-title-url="dino-time-2012"> <span
													class="number">12</span>다이노 타임
											</a></li>


											<li class="item "><a
												href="/mv/dino-time-2012/mf1x62" data-movie-id="mf1x62"
												data-movie-title-url="dino-time-2012"> <span
													class="number">13</span>다이노 타임
											</a></li>


											<li class="item "><a
												href="/mv/dino-time-2012/mf1x62" data-movie-id="mf1x62"
												data-movie-title-url="dino-time-2012"> <span
													class="number">14</span>다이노 타임
											</a></li>


											<li class="item "><a
												href="/mv/dino-time-2012/mf1x62" data-movie-id="mf1x62"
												data-movie-title-url="dino-time-2012"> <span
													class="number">15</span>다이노 타임
											</a></li>


										</ol>
									</div>
								</div>
								
								<div
									class="movie-card size-2x2 poster-type boxoffice_large_movie  user-action-mpgxes card grid-2 hei-2 top-0 left-1">
									<div class="poster-wrapper" style="position: relative;">

										<img class="poster"
											src="https://d12hfz37g51hrt.cloudfront.net/p/ah/4984dc2dce3fe2d042c5.jpg?1432241051"
											width="100%" height="650" />


										<div class="top-gradation"></div>


										<div class="predicted-rating">

											<span class="rating"> <img class="thumb" width="25"
												height="25"
												src="https://d12hfz37g51hrt.cloudfront.net/user/1428766/thumb/profile_1424420765.jpg"
												onerror=";return false;" /> <span class="number">4.1</span>
											</span>


										</div>

										<div class="detail-opener gradation"></div>
										<div class="bottom">

											<h5 class="movie-title">매드 맥스: 분노의 도로</h5>
											<div class="basic-info">

												<div class="reservation-info">
													<span class="rank-share">예매 1위 32.35%</span> <span
														class="bar">|</span> <span class="dday">개봉 9일째</span> <span
														class="bar">|</span> <span class="audience">누적관객 수
														127만명</span>
												</div>

												<span class="genre">액션</span> <span class="bar">|</span> <span
													class="running-time">2시간</span> <span class="bar">|</span>
												<span class="filmrate">15세 관람가</span>
											</div>
											<div class="watcha-rating-wrapper">

												<span class="watcha-rating" data-rating="4.3"><span
													style="display: inline-block; width: 14px; height: 13px; background: url(https://d12hfz37g51hrt.cloudfront.net/assets/stars/star_yellow-8a5911825aa54ba51fd3d17e3126e6b0.png) 0px 0px/14px 13px no-repeat;"></span><span
													style="display: inline-block; width: 14px; height: 13px; margin-left: 1px; background: url(https://d12hfz37g51hrt.cloudfront.net/assets/stars/star_yellow-8a5911825aa54ba51fd3d17e3126e6b0.png) 0px 0px/14px 13px no-repeat;"></span><span
													style="display: inline-block; width: 14px; height: 13px; margin-left: 1px; background: url(https://d12hfz37g51hrt.cloudfront.net/assets/stars/star_yellow-8a5911825aa54ba51fd3d17e3126e6b0.png) 0px 0px/14px 13px no-repeat;"></span><span
													style="display: inline-block; width: 14px; height: 13px; margin-left: 1px; background: url(https://d12hfz37g51hrt.cloudfront.net/assets/stars/star_yellow-8a5911825aa54ba51fd3d17e3126e6b0.png) 0px 0px/14px 13px no-repeat;"></span><span
													style="display: inline-block; width: 4px; height: 13px; margin-left: 1px; background: url(https://d12hfz37g51hrt.cloudfront.net/assets/stars/star_yellow-8a5911825aa54ba51fd3d17e3126e6b0.png) 0px 0px/14px 13px no-repeat;"></span><span
													style="display: inline-block; width: 10px; height: 13px; margin-left: 0px; background: url(https://d12hfz37g51hrt.cloudfront.net/assets/stars/star_gray-9ca82b9922fadb6c5cf5271dd4cebae4.png) -4px 0px/14px 13px no-repeat;"></span></span>
												<span class="number">4.3</span> <span class="eval-count">(22,024명
													참여)</span>
											</div>

											<div class="comment">
												<a href="/user/nXFyXcIcAvKj/eval/movies"> <img
													width="40" height="40"
													src="https://d12hfz37g51hrt.cloudfront.net/user/676986/thumb/profile_1416369940.jpg?1394640423"
													onerror="loadDefaultImg(this, 'medium');return false;" />
												</a>
												<p class="text">
													<a href="/user/nXFyXcIcAvKj/eval/movies" class="name">임이솔
														: </a> 미친 핵꿀잼....진짜 2d로 보는 건 예의가 아닌...
												</p>
											</div>


										</div>
										<div class="action-wrapper">
											<div class="movie-title">매드 맥스: 분노의 도로</div>
											<div class="rating">
												<span class="watcha-star half left" data-value="0.5"></span><span
													class="watcha-star half right" data-value="1"></span><span
													class="watcha-star half left" data-value="1.5"></span><span
													class="watcha-star half right" data-value="2"></span><span
													class="watcha-star half left" data-value="2.5"></span><span
													class="watcha-star half right" data-value="3"></span><span
													class="watcha-star half left" data-value="3.5"></span><span
													class="watcha-star half right" data-value="4"></span><span
													class="watcha-star half left" data-value="4.5"></span><span
													class="watcha-star half right" data-value="5"></span>
											</div>

											<div class="wish-comment">
												<div class="wish">
													<span class="icon"></span> 보고싶어요
												</div>
												<div class="comment">
													<span class="icon"></span> <span class="text">코멘트 쓰기</span>
												</div>
											</div>
											<div class="meh">관심없어요</div>


										</div>
									</div>



								</div>
								<div
									class="movie-card size-1x1 poster-type boxoffice_large_movie  user-action-mg6l24 card grid-1 hei-1 top-0 left-3">
									<div class="poster-wrapper">

										<img class="poster"
											src="https://d12hfz37g51hrt.cloudfront.net/p/b/c9b3b924c8f738457a85.jpg?1432242914"
											width="100%" />


										<div class="top-gradation"></div>


										<div class="predicted-rating">

											<span class="rating"> <img class="thumb" width="25"
												height="25"
												src="https://d12hfz37g51hrt.cloudfront.net/user/1428766/thumb/profile_1424420765.jpg"
												onerror=";return false;" /> <span class="number">3.8</span>
											</span>


										</div>

										<div class="detail-opener gradation"></div>
										<div class="bottom"></div>
										<div class="action-wrapper">
											<div class="movie-title">스파이</div>
											<div class="rating">
												<span class="watcha-star half left" data-value="0.5"></span><span
													class="watcha-star half right" data-value="1"></span><span
													class="watcha-star half left" data-value="1.5"></span><span
													class="watcha-star half right" data-value="2"></span><span
													class="watcha-star half left" data-value="2.5"></span><span
													class="watcha-star half right" data-value="3"></span><span
													class="watcha-star half left" data-value="3.5"></span><span
													class="watcha-star half right" data-value="4"></span><span
													class="watcha-star half left" data-value="4.5"></span><span
													class="watcha-star half right" data-value="5"></span>
											</div>

											<div class="wish-comment">
												<div class="wish">
													<span class="icon"></span> 보고싶어요
												</div>
												<div class="comment">
													<span class="icon"></span> <span class="text">코멘트 쓰기</span>
												</div>
											</div>
											<div class="meh">관심없어요</div>


										</div>
									</div>



								</div>
								<div
									class="movie-card size-1x1 poster-type boxoffice_large_movie  user-action-mptg5z card grid-1 hei-1 top-1 left-3">
									<div class="poster-wrapper" style="position: relative;">

										<img class="poster"
											src="https://d12hfz37g51hrt.cloudfront.net/p/b/d807b70f4f85567bfd61.jpg?1432243143"
											width="100%" />


										<div class="top-gradation"></div>


										<div class="predicted-rating">

											<span class="rating"> <img class="thumb" width="25"
												height="25"
												src="https://d12hfz37g51hrt.cloudfront.net/user/1428766/thumb/profile_1424420765.jpg"
												onerror=";return false;" /> <span class="number">3.1</span>
											</span>


										</div>

										<div class="detail-opener gradation"></div>
										<div class="bottom"></div>
										<div class="action-wrapper">
											<div class="movie-title">간신</div>
											<div class="rating">
												<span class="watcha-star half left" data-value="0.5"></span><span
													class="watcha-star half right" data-value="1"></span><span
													class="watcha-star half left" data-value="1.5"></span><span
													class="watcha-star half right" data-value="2"></span><span
													class="watcha-star half left" data-value="2.5"></span><span
													class="watcha-star half right" data-value="3"></span><span
													class="watcha-star half left" data-value="3.5"></span><span
													class="watcha-star half right" data-value="4"></span><span
													class="watcha-star half left" data-value="4.5"></span><span
													class="watcha-star half right" data-value="5"></span>
											</div>

											<div class="wish-comment">
												<div class="wish">
													<span class="icon"></span> 보고싶어요
												</div>
												<div class="comment">
													<span class="icon"></span> <span class="text">코멘트 쓰기</span>
												</div>
											</div>
											<div class="meh">관심없어요</div>


										</div>
									</div>



								</div>
								<div
									class="movie-card size-1x1 poster-type boxoffice_large_movie  user-action-m1jx84 card grid-1 hei-1 top-0 left-4">
									<div class="poster-wrapper" style="position: relative;">

										<img class="poster"
											src="https://d12hfz37g51hrt.cloudfront.net/p/b/fd2a7f74bdb8f6977ca3.jpg?1432242812"
											width="100%" />


										<div class="top-gradation"></div>


										<div class="predicted-rating">

											<span class="rating"> <img class="thumb" width="25"
												height="25"
												src="https://d12hfz37g51hrt.cloudfront.net/user/1428766/thumb/profile_1424420765.jpg"
												onerror=";return false;" /> <span class="number">3.3</span>
											</span>


										</div>

										<div class="detail-opener gradation"></div>
										<div class="bottom"></div>
										<div class="action-wrapper">
											<div class="movie-title">홈</div>
											<div class="rating">
												<span class="watcha-star half left" data-value="0.5"></span><span
													class="watcha-star half right" data-value="1"></span><span
													class="watcha-star half left" data-value="1.5"></span><span
													class="watcha-star half right" data-value="2"></span><span
													class="watcha-star half left" data-value="2.5"></span><span
													class="watcha-star half right" data-value="3"></span><span
													class="watcha-star half left" data-value="3.5"></span><span
													class="watcha-star half right" data-value="4"></span><span
													class="watcha-star half left" data-value="4.5"></span><span
													class="watcha-star half right" data-value="5"></span>
											</div>

											<div class="wish-comment">
												<div class="wish">
													<span class="icon"></span> 보고싶어요
												</div>
												<div class="comment">
													<span class="icon"></span> <span class="text">코멘트 쓰기</span>
												</div>
											</div>
											<div class="meh">관심없어요</div>


										</div>
									</div>



								</div>
								<div
									class="movie-card size-1x1 poster-type boxoffice_large_movie  user-action-m63qmm card grid-1 hei-1 top-1 left-4">
									<div class="poster-wrapper">

										<img class="poster"
											src="https://d12hfz37g51hrt.cloudfront.net/p/b/7bb4658183c58685c65b.jpg?1432243008"
											width="100%" />


										<div class="top-gradation"></div>


										<div class="predicted-rating">

											<span class="rating"> <img class="thumb" width="25"
												height="25"
												src="https://d12hfz37g51hrt.cloudfront.net/user/1428766/thumb/profile_1424420765.jpg"
												onerror=";return false;" /> <span class="number">3.0</span>
											</span>


										</div>

										<div class="detail-opener gradation"></div>
										<div class="bottom"></div>
										<div class="action-wrapper">
											<div class="movie-title">악의 연대기</div>
											<div class="rating">
												<span class="watcha-star half left" data-value="0.5"></span><span
													class="watcha-star half right" data-value="1"></span><span
													class="watcha-star half left" data-value="1.5"></span><span
													class="watcha-star half right" data-value="2"></span><span
													class="watcha-star half left" data-value="2.5"></span><span
													class="watcha-star half right" data-value="3"></span><span
													class="watcha-star half left" data-value="3.5"></span><span
													class="watcha-star half right" data-value="4"></span><span
													class="watcha-star half left" data-value="4.5"></span><span
													class="watcha-star half right" data-value="5"></span>
											</div>

											<div class="wish-comment">
												<div class="wish">
													<span class="icon"></span> 보고싶어요
												</div>
												<div class="comment">
													<span class="icon"></span> <span class="text">코멘트 쓰기</span>
												</div>
											</div>
											<div class="meh">관심없어요</div>


										</div>
									</div>



								</div>
								<div
									class="movie-card size-1x1 poster-type boxoffice_large_movie  user-action-mrz65z card grid-1 hei-1 top-0 left-5">
									<div class="poster-wrapper">

										<img class="poster"
											src="https://d12hfz37g51hrt.cloudfront.net/p/b/9a51d0fa8b2536630ee8.jpg?1432242620"
											width="100%" />


										<div class="top-gradation"></div>


										<div class="predicted-rating">

											<span class="rating"> <img class="thumb" width="25"
												height="25"
												src="https://d12hfz37g51hrt.cloudfront.net/user/1428766/thumb/profile_1424420765.jpg"
												onerror=";return false;" /> <span class="number">3.8</span>
											</span>


										</div>

										<div class="detail-opener gradation"></div>
										<div class="bottom"></div>
										<div class="action-wrapper">
											<div class="movie-title">어벤져스: 에이지 오브 울트론</div>
											<div class="rating">
												<span class="watcha-star half left" data-value="0.5"></span><span
													class="watcha-star half right" data-value="1"></span><span
													class="watcha-star half left" data-value="1.5"></span><span
													class="watcha-star half right" data-value="2"></span><span
													class="watcha-star half left" data-value="2.5"></span><span
													class="watcha-star half right" data-value="3"></span><span
													class="watcha-star half left" data-value="3.5"></span><span
													class="watcha-star half right" data-value="4"></span><span
													class="watcha-star half left" data-value="4.5"></span><span
													class="watcha-star half right" data-value="5"></span>
											</div>

											<div class="wish-comment">
												<div class="wish">
													<span class="icon"></span> 보고싶어요
												</div>
												<div class="comment">
													<span class="icon"></span> <span class="text">코멘트 쓰기</span>
												</div>
											</div>
											<div class="meh">관심없어요</div>


										</div>
									</div>



								</div>
								<div
									class="movie-card size-1x1 poster-type boxoffice_large_movie  user-action-mdmz6i card grid-1 hei-1 top-1 left-5">
									<div class="poster-wrapper">

										<img class="poster"
											src="https://d12hfz37g51hrt.cloudfront.net/p/b/44858a14300c1752f165.jpg?1432241230"
											width="100%" />



										<div class="predicted-rating"></div>

										<div class="detail-opener gradation"></div>
										<div class="bottom"></div>
										<div class="action-wrapper">
											<div class="movie-title">무뢰한</div>
											<div class="rating">
												<span class="watcha-star half left" data-value="0.5"></span><span
													class="watcha-star half right" data-value="1"></span><span
													class="watcha-star half left" data-value="1.5"></span><span
													class="watcha-star half right" data-value="2"></span><span
													class="watcha-star half left" data-value="2.5"></span><span
													class="watcha-star half right" data-value="3"></span><span
													class="watcha-star half left" data-value="3.5"></span><span
													class="watcha-star half right" data-value="4"></span><span
													class="watcha-star half left" data-value="4.5"></span><span
													class="watcha-star half right" data-value="5"></span>
											</div>

											<div class="wish-comment">
												<div class="wish">
													<span class="icon"></span> 보고싶어요
												</div>
												<div class="comment">
													<span class="icon"></span> <span class="text">코멘트 쓰기</span>
												</div>
											</div>
											<div class="meh">관심없어요</div>


										</div>
									</div>



								</div>
								<div
									class="movie-card size-1x1 poster-type boxoffice_large_movie  user-action-mw028f card grid-1 hei-1 top-0 left-6">
									<div class="poster-wrapper">

										<img class="poster"
											src="https://d12hfz37g51hrt.cloudfront.net/p/b/809903605b54250f3cf9.jpg?1432242686"
											width="100%" />



										<div class="predicted-rating"></div>

										<div class="detail-opener gradation"></div>
										<div class="bottom"></div>
										<div class="action-wrapper">
											<div class="movie-title">투모로우랜드</div>
											<div class="rating">
												<span class="watcha-star half left" data-value="0.5"></span><span
													class="watcha-star half right" data-value="1"></span><span
													class="watcha-star half left" data-value="1.5"></span><span
													class="watcha-star half right" data-value="2"></span><span
													class="watcha-star half left" data-value="2.5"></span><span
													class="watcha-star half right" data-value="3"></span><span
													class="watcha-star half left" data-value="3.5"></span><span
													class="watcha-star half right" data-value="4"></span><span
													class="watcha-star half left" data-value="4.5"></span><span
													class="watcha-star half right" data-value="5"></span>
											</div>

											<div class="wish-comment">
												<div class="wish">
													<span class="icon"></span> 보고싶어요
												</div>
												<div class="comment">
													<span class="icon"></span> <span class="text">코멘트 쓰기</span>
												</div>
											</div>
											<div class="meh">관심없어요</div>


										</div>
									</div>



								</div>
								<div
									class="movie-card size-1x1 poster-type boxoffice_large_movie  user-action-mwnqrf card grid-1 hei-1 top-1 left-6">
									<div class="poster-wrapper">

										<img class="poster"
											src="https://d12hfz37g51hrt.cloudfront.net/p/b/ea2cda3a09d705c47379.jpg?1432243010"
											width="100%" />


										<div class="top-gradation"></div>


										<div class="predicted-rating">

											<span class="rating"> <img class="thumb" width="25"
												height="25"
												src="https://d12hfz37g51hrt.cloudfront.net/user/1428766/thumb/profile_1424420765.jpg"
												onerror=";return false;" /> <span class="number">3.1</span>
											</span>


										</div>

										<div class="detail-opener gradation"></div>
										<div class="bottom"></div>
										<div class="action-wrapper">
											<div class="movie-title">위아영</div>
											<div class="rating">
												<span class="watcha-star half left" data-value="0.5"></span><span
													class="watcha-star half right" data-value="1"></span><span
													class="watcha-star half left" data-value="1.5"></span><span
													class="watcha-star half right" data-value="2"></span><span
													class="watcha-star half left" data-value="2.5"></span><span
													class="watcha-star half right" data-value="3"></span><span
													class="watcha-star half left" data-value="3.5"></span><span
													class="watcha-star half right" data-value="4"></span><span
													class="watcha-star half left" data-value="4.5"></span><span
													class="watcha-star half right" data-value="5"></span>
											</div>

											<div class="wish-comment">
												<div class="wish">
													<span class="icon"></span> 보고싶어요
												</div>
												<div class="comment">
													<span class="icon"></span> <span class="text">코멘트 쓰기</span>
												</div>
											</div>
											<div class="meh">관심없어요</div>


										</div>
									</div>



								</div>
								<div
									class="movie-card size-1x1 poster-type boxoffice_large_movie  user-action-mdllt0 card grid-1 hei-1 top-0 left-7">
									<div class="poster-wrapper">

										<img class="poster"
											src="https://d12hfz37g51hrt.cloudfront.net/p/b/3f503b10c3ea22623d4b.jpg?1432243026"
											width="100%" />


										<div class="top-gradation"></div>


										<div class="predicted-rating">

											<span class="rating"> <img class="thumb" width="25"
												height="25"
												src="https://d12hfz37g51hrt.cloudfront.net/user/1428766/thumb/profile_1424420765.jpg"
												onerror=";return false;" /> <span class="number">3.7</span>
											</span>


										</div>

										<div class="detail-opener gradation"></div>
										<div class="bottom"></div>
										<div class="action-wrapper">
											<div class="movie-title">스틸 앨리스</div>
											<div class="rating">
												<span class="watcha-star half left" data-value="0.5"></span><span
													class="watcha-star half right" data-value="1"></span><span
													class="watcha-star half left" data-value="1.5"></span><span
													class="watcha-star half right" data-value="2"></span><span
													class="watcha-star half left" data-value="2.5"></span><span
													class="watcha-star half right" data-value="3"></span><span
													class="watcha-star half left" data-value="3.5"></span><span
													class="watcha-star half right" data-value="4"></span><span
													class="watcha-star half left" data-value="4.5"></span><span
													class="watcha-star half right" data-value="5"></span>
											</div>

											<div class="wish-comment">
												<div class="wish">
													<span class="icon"></span> 보고싶어요
												</div>
												<div class="comment">
													<span class="icon"></span> <span class="text">코멘트 쓰기</span>
												</div>
											</div>
											<div class="meh">관심없어요</div>


										</div>
									</div>



								</div>
								<div
									class="movie-card size-1x1 poster-type boxoffice_large_movie  user-action-mqrf5o card grid-1 hei-1 top-1 left-7">
									<div class="poster-wrapper">

										<img class="poster"
											src="https://d12hfz37g51hrt.cloudfront.net/p/b/79d8d1f2eadd15277457.jpg?1432242815"
											width="100%" />


										<div class="top-gradation"></div>


										<div class="predicted-rating">

											<span class="rating"> <img class="thumb" width="25"
												height="25"
												src="https://d12hfz37g51hrt.cloudfront.net/user/1428766/thumb/profile_1424420765.jpg"
												onerror=";return false;" /> <span class="number">3.5</span>
											</span>


										</div>

										<div class="detail-opener gradation"></div>
										<div class="bottom"></div>
										<div class="action-wrapper">
											<div class="movie-title">트립 투 이탈리아</div>
											<div class="rating">
												<span class="watcha-star half left" data-value="0.5"></span><span
													class="watcha-star half right" data-value="1"></span><span
													class="watcha-star half left" data-value="1.5"></span><span
													class="watcha-star half right" data-value="2"></span><span
													class="watcha-star half left" data-value="2.5"></span><span
													class="watcha-star half right" data-value="3"></span><span
													class="watcha-star half left" data-value="3.5"></span><span
													class="watcha-star half right" data-value="4"></span><span
													class="watcha-star half left" data-value="4.5"></span><span
													class="watcha-star half right" data-value="5"></span>
											</div>

											<div class="wish-comment">
												<div class="wish">
													<span class="icon"></span> 보고싶어요
												</div>
												<div class="comment">
													<span class="icon"></span> <span class="text">코멘트 쓰기</span>
												</div>
											</div>
											<div class="meh">관심없어요</div>


										</div>
									</div>



								</div>
								<div
									class="movie-card size-1x1 poster-type boxoffice_large_movie  user-action-mf1x62 card grid-1 hei-1 top-0 left-8">
									<div class="poster-wrapper">

										<img class="poster"
											src="https://d12hfz37g51hrt.cloudfront.net/p/b/63b8b69fa04edbe10a53.jpg?1432240952"
											width="100%" />


										<div class="top-gradation"></div>


										<div class="predicted-rating">

											<span class="rating"> <img class="thumb" width="25"
												height="25"
												src="https://d12hfz37g51hrt.cloudfront.net/user/1428766/thumb/profile_1424420765.jpg"
												onerror=";return false;" /> <span class="number">3.2</span>
											</span>


										</div>

										<div class="detail-opener gradation"></div>
										<div class="bottom"></div>
										<div class="action-wrapper">
											<div class="movie-title">다이노 타임</div>
											<div class="rating">
												<span class="watcha-star half left" data-value="0.5"></span><span
													class="watcha-star half right" data-value="1"></span><span
													class="watcha-star half left" data-value="1.5"></span><span
													class="watcha-star half right" data-value="2"></span><span
													class="watcha-star half left" data-value="2.5"></span><span
													class="watcha-star half right" data-value="3"></span><span
													class="watcha-star half left" data-value="3.5"></span><span
													class="watcha-star half right" data-value="4"></span><span
													class="watcha-star half left" data-value="4.5"></span><span
													class="watcha-star half right" data-value="5"></span>
											</div>

											<div class="wish-comment">
												<div class="wish">
													<span class="icon"></span> 보고싶어요
												</div>
												<div class="comment">
													<span class="icon"></span> <span class="text">코멘트 쓰기</span>
												</div>
											</div>
											<div class="meh">관심없어요</div>


										</div>
									</div>



								</div>
								<div class="clear"></div>
							</ul>
						</div>
					</div> <span
					class="prev-btn" style="display: none;">이전</span><span
					class="next-btn">다음</span></li>

				<li id="genre-section" class="genres responsive-mask section"><h3
						class="title">장르별 추천</h3>
					<div class="slider-wrapper">
						<div class="vertical-list">
							<ul class="grid-container"
								style="position: relative; width: 1680px; height: 340px;">
								<div class="genre card grid-1 hei-1 mini top-0 left-0"
									style="background-image: url(https://d12hfz37g51hrt.cloudfront.net/s/m/mevucc-8523a1832db669da4f9c.jpg?1370684728);">
									<a href="/recommendation?genre=SF">
										<div class="bg"></div> <span class="text">SF</span>
									</a>
								</div>
								<div class="genre card grid-1 hei-1 mini top-1 left-0"
									style="background-image: url(https://d12hfz37g51hrt.cloudfront.net/s/m/ml55t2-d40ef326f4e9a2c4bb1d.jpg?1416207915);">
									<a href="/recommendation?genre=가족">
										<div class="bg"></div> <span class="text">가족</span>
									</a>
								</div>
								<div class="genre card grid-1 hei-1 mini top-0 left-1"
									style="background-image: url(https://d12hfz37g51hrt.cloudfront.net/s/m/m5i704-f00d90db2ea28b0ea4d2.jpg?1370685050);">
									<a href="/recommendation?genre=공포">
										<div class="bg"></div> <span class="text">공포</span>
									</a>
								</div>
								<div class="genre card grid-1 hei-1 mini top-1 left-1"
									style="background-image: url(https://d12hfz37g51hrt.cloudfront.net/s/m/my8qs8-c6bbc7006b066ee5ad05.jpg?1370684704);">
									<a href="/recommendation?genre=다큐멘터리">
										<div class="bg"></div> <span class="text">다큐멘터리</span>
									</a>
								</div>
								<div class="genre card grid-1 hei-1 mini top-0 left-2"
									style="background-image: url(https://d12hfz37g51hrt.cloudfront.net/s/m/motei7-e33fc8f363c1f60e0084.jpg?1370697291);">
									<a href="/recommendation?genre=드라마">
										<div class="bg"></div> <span class="text">드라마</span>
									</a>
								</div>
								<div class="genre card grid-1 hei-1 mini top-1 left-2"
									style="background-image: url(https://d12hfz37g51hrt.cloudfront.net/s/m/mc57ne-d9922c4d1f50716e57d1.jpg?1414577671);">
									<a href="/recommendation?genre=로맨스/멜로">
										<div class="bg"></div> <span class="text">로맨스/멜로</span>
									</a>
								</div>
								<div class="genre card grid-1 hei-1 mini top-0 left-3"
									style="background-image: url(https://d12hfz37g51hrt.cloudfront.net/s/m/ma5rxk-cd9f0f2280a350f2d794.jpg?1370683951);">
									<a href="/recommendation?genre=로맨틱 코미디">
										<div class="bg"></div> <span class="text">로맨틱 코미디</span>
									</a>
								</div>
								<div class="genre card grid-1 hei-1 mini top-1 left-3"
									style="background-image: url(https://d12hfz37g51hrt.cloudfront.net/s/m/mjhf1r-8aff0fb771cf7ab95e8a.jpg?1370699807);">
									<a href="/recommendation?genre=범죄">
										<div class="bg"></div> <span class="text">범죄</span>
									</a>
								</div>
								<div class="genre card grid-1 hei-1 mini top-0 left-4"
									style="background-image: url(https://d12hfz37g51hrt.cloudfront.net/s/m/ms5fec-3cda7196108b47da24c7.jpg?1370683528);">
									<a href="/recommendation?genre=스릴러">
										<div class="bg"></div> <span class="text">스릴러</span>
									</a>
								</div>
								<div class="genre card grid-1 hei-1 mini top-1 left-4"
									style="background-image: url(https://d12hfz37g51hrt.cloudfront.net/s/m/mvzdp0-31e344827f1cce9bc8b7.jpg?1370681645);">
									<a href="/recommendation?genre=애니메이션">
										<div class="bg"></div> <span class="text">애니메이션</span>
									</a>
								</div>
								<div class="genre card grid-1 hei-1 mini top-0 left-5"
									style="background-image: url(https://d12hfz37g51hrt.cloudfront.net/s/m/m2vxj4-fda9399b0ac791a79952.jpg?1370697217);">
									<a href="/recommendation?genre=액션">
										<div class="bg"></div> <span class="text">액션</span>
									</a>
								</div>
								<div class="genre card grid-1 hei-1 mini top-1 left-5"
									style="background-image: url(https://d12hfz37g51hrt.cloudfront.net/s/m/mynhon-7e2a38656aa90c480249.jpg?1370682992);">
									<a href="/recommendation?genre=전쟁">
										<div class="bg"></div> <span class="text">전쟁</span>
									</a>
								</div>
								<div class="genre card grid-1 hei-1 mini top-0 left-6"
									style="background-image: url(https://d12hfz37g51hrt.cloudfront.net/s/m/myrr0v-bec9044978bad0aaf7e4.jpg?1370690300);">
									<a href="/recommendation?genre=코미디">
										<div class="bg"></div> <span class="text">코미디</span>
									</a>
								</div>
								<div class="genre card grid-1 hei-1 mini top-1 left-6"
									style="background-image: url(https://d12hfz37g51hrt.cloudfront.net/s/m/m3smdg-865886edc4a056b1bbd4.jpg?1370697427);">
									<a href="/recommendation?genre=판타지">
										<div class="bg"></div> <span class="text">판타지</span>
									</a>
								</div>
								<div class="clear"></div>
							</ul>
						</div>
					</div></li>
			</ol>
			<!-- // END sections-wrapper -->
		</div>

		<div id="watcha-tooltip" class=""
			style="z-index: 10; left: 470.5px; top: 3190px; display: none;">
			<div class="watcha-tooltip-content">관심없어요</div>
			<div class="arrow" style="left: 25px;"></div>
		</div>
	</div>
	<div id="toast-msg"></div>
	<div id="account-setting-popup">
		<div class="inner-shadow"></div>

		<form>
			<table>
				<tbody>
					<tr class="email">
						<td class="title">이메일</td>
						<td class="field">hswook93@gmail.com</td>
					</tr>

					<tr class="password">
						<td class="title">비밀번호 변경</td>
						<td class="field"><input class="current"
							name="password[password_ori]" type="password"
							placeholder="기존 비밀번호" style="display: none;" /> <input
							class="new" name="password[password_new]" type="password"
							placeholder="새 비밀번호" /> <input class="confirm"
							name="password[password_confirm]" type="password"
							placeholder="새 비밀번호 확인" /></td>
					</tr>

				</tbody>
			</table>
		</form>
		<a href="#" type="button" class="deactivate">탈퇴하기</a>
		<button class="submit">확인</button>
		<button class="cancel">취소</button>
		<div class="clear"></div>
	</div>
	<script type="text/javascript">
		window.settingInstance = new Setting($('#account-setting-popup'));
	</script>


	<div id="footer">
		<div class="wrapper responsive-mask">
			<div class="info">최수진 Copyright © 2014 by Frograms. Inc. All
				rights reserved</div>
		</div>
	</div>



</body>
</html>